@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables.scss";

// Import Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

// Import Bootstrap-select
@import "~bootstrap-select/sass/bootstrap-select.scss";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";

@font-face {
  font-family: "Vazir";
  src: url("../../fonts/Vazir.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Vazir.woff2") format("woff2"),
    url("../../fonts/Vazir.woff") format("woff"),
    url("../../fonts/Vazir.ttf") format("truetype");
  /* Safari, Android, iOS */
}

body {
  direction: rtl;
  text-align: right !important;
  font-family: "Vazir" !important;
//   line-height: 1.6;
}

// Bootstrap Paginate RTL
#registerCheckBox::before{
    right: -1.5rem;
}

#registerCheckBox::after{
    right: -1.5rem;
}

.page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  border-top-left-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
}

// Bootstrap Select RTL & Customize
.filter-option-inner-inner {
  text-align: right;
}

.bootstrap-select > button {
  color: #6e707e;
  background-color: #fff;
  border-color: #d1d3e2;
}

.bootstrap-select > button:not(:disabled):not(.disabled):active,
.bootstrap-select > button:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  color: #6e707e;
  background-color: #fff;
  border-color: #d1d3e2;
}

.bootstrap-select > button:focus,
.bootstrap-select > button.focus {
  color: #6e707e;
  background-color: #fff;
  border-color: #d1d3e2;
  box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}

.bootstrap-select .dropdown-menu li {
  text-align: right;
}

.bootstrap-select.show-tick .dropdown-menu li a span.text{
  margin-right: 10px;
}

div.disabled{
  background-color:#eaecf4;
}

.custom-file-label::after{
  content:'فایل';
}

.custom-file-label:after{
  right:unset;
  left:0;
  border-left:unset;
  border-left:inherit;
  border-radius:0.35rem 0 0 0.35rem;

}